* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #24043c;
    color: #ffffff;
    font-family: Arial, sans-serif;
    padding: 20px;
    height: 120vh;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color: #2d0a4e;
    border: 2px solid #a309ea;
    border-radius: 20px;
    margin-bottom: 30px;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 14px;
}
.nav-menu {
    display: flex;
    gap: 20px;
    flex: 1;
    margin-left: 40px;
}

.nav-menu a {
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

.nav-user {
    display: flex;
    align-items: center;
    gap: 30px;

}

.search {
    display: flex;
    align-items: center;
    background-color: #3d1a5f;
    border: 1px solid #a309ea;
    border-radius: 15px;
    padding: 8px 12px;
    width: 500px;
}

.search input {
    background-color: transparent;
    border: none;
    color: #ffffff;
    font-size: 12px;
    outline: none;
    flex: 1;
}




main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    max-width: 1400px;
    margin: 0 auto;
    align-items: start;
}

.left-section {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.card-1 {
    background-color: #2d0a4e;
    border: 1px solid #a309ea;
    border-radius: 10px;
    padding: 20px;
}
.card-2 {
    background-color: #2d0a4e;
    border: 1px solid #a309ea;
    border-radius: 10px;
    padding: 20px;
    height: 300px;
}
.title {
    font-size: 24px;
    margin-bottom: 10px;
}

.line {
    height: 1px;
    background-color: #a309ea;
    margin: 15px 0 20px 0;
}

.profile {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
}

.pic {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background-color: #a309ea;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.chart-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}



.bar {
    flex: 1;
    background-color: #a309ea;
    border-radius: 5px 5px 0 0;
}


.chart {
    display: flex;
    align-items: flex-end;
    gap: 8px;
    height: 200px;
    margin-bottom: 15px;

}

.song {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 5px;
    font-size: 14px;
    text-align: center;

}



.right-section {
    background-color: #2d0a4e;
    border: 1px solid #a309ea;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    height: fit-content;
    position: sticky;
    top: 110px;
}









