.container {
    display: grid;
    gap: 10px;
    padding: 20px;
    margin: 20px;
    grid-template-columns: repeat(4, 1fr);
}
.box {
    background-color: #ffffff;
    border: 1px solid #0b0b0b;
    padding: 10px;
    text-align: center;
}
@media (max-width: 1000px) {
    .container {
        grid-template-columns: repeat(3, 1fr);
        padding: 10px;
        margin: 10px;
    }
}
@media (max-width: 768px)  {
    .container {
        grid-template-columns: repeat(2, 1fr);
        padding: 5px;
        margin: 5px;
    }
}
@media (max-width: 480px) {
    .container {
        grid-template-columns: 1fr;
        padding: 5px;
        margin: 5px;
    }
}