body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}
header{
    background-color: #000000;
    color: white;

    text-align: center;
    padding: 10px;
    height: 40px;
}
.content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding: 20px;
}
footer{
    background-color: #000000;
    justify-content: center;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: auto;
    height: 40px;
}
main{
    background-color: #ffffff;
    color: black;
    text-align: center;
    padding: 20px;
    border: 1px solid #000000;
}
sidebar{
    background-color: #ffffff;
    color: black;
    text-align: center;
    padding: 20px;
    border: 1px solid #000000;
}
@media (max-width: 600px) {
    .content{
        grid-template-columns: 1fr;
    }
}
@media (min-width: 600px) and (max-width: 900px) {
    .content{
        grid-template-columns: 1fr 1fr;
    }
}
@media (min-width: 900px) {
    .content{
        grid-template-columns: 2fr 1fr;
    }
}