body{
    margin: 0;
    padding: 0;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 16px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    width: 320px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
img{
    width: 300px;
    height: 300px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

@media (min-width: 601px) {
    .container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1024px) {
    .container {
        grid-template-columns: repeat(3, 1fr);
    }
}