* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    gap: 20px;
}

.a {
    grid-column: 1 / span 3;
    background-color: blue;
    padding: 80px;
    display: flex;
}

.b {
    grid-row: 2 / span 2;
    grid-column: 1;
    background-color: blue;
    padding: 40px;
    display: flex;
}

.c {
    grid-column: 2;
    grid-row: 2;
    background-color: blue;
    padding: 40px;
    display: flex;

}

.d {
    grid-column: 3;
    grid-row: 2;
    background-color: blue;
    padding: 40px;
    display: flex;
}

.e {
    grid-column: 2 / span 2;
    grid-row: 3;
    background-color: blue;
    padding: 40px;
    display: flex;

}

.f {
    grid-column: 1 / span 3;
    background-color: blue;
    padding: 50px;
    display: flex;
}