body {
    font-family: Roboto, Arial, sans-serif;
}
nav {
    /*  TODO */
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
    padding: 10px;
}
.nav-left {
    /*  TODO */
    display: flex;
    justify-content: flex-start;
    gap: 15px;
}
.nav-right {
    /*  TODO */
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    gap: 100px;    
    
}

.nav-center {
    /*  TODO */
    display: flex;
    width: 40%;
    gap: 10px;

}
.nav-center input {
    width: 90%;
    padding: 9px;
}
.nav-center i {
    background: #f5ecec;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 50%;
}
header {
    width: 93%;
    margin: auto;
    margin-top: 16px;
    padding: 10px;
}
header span {
    padding: 10px;
    background: #e2e0e0;
    border-radius: 40px;
    cursor: pointer;
    font-size: 15px;
    margin-right: 10px;
}
.active {
    background: #000;
    color: #fff;
}
.video-container { 
    /*  TODO */
    background-color: aliceblue;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px 0 0 50px;
    padding: 20px;
    gap: 20px;
}
.video {

   /*  TODO */
    width: 22%;
    margin-bottom: 20px;  
 
}
.video-thumbnail img {
    width: 100%;
    height: auto;

   /*  TODO */
}
.video-text {
  /*  TODO */
    display: flex;
    margin-top: 10px;
    gap: 10px;
 
}


.text {
    line-height: 1.5;
}
.text p {
    margin: 0;
    margin-top: 10px;
}
.text p,
.text span {
    color: rgb(105, 102, 102);
}
.text strong {
    font-weight: 500;
}