
header{

    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(11, 11, 11);
    padding: 20px;
}
h1 {
    font-size: 2em;
    color: rgb(246, 246, 246);
    margin: 0;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

li {
    margin-left: 20px;
}

a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 1.1em;
}

li a:hover {
    color: #f3a50b;
}

.burger {
    display: none;
}

@media (max-width: 768px) {
    header {
        flex-wrap: wrap;
    }
    nav {
        order: 3;
        width: 100%;
        display: none;
    }
    nav.active {
        display: block;
    }
    li {
        margin-left: 0;
        margin-top: 10px;
        text-align: center;
    }
    
    .burger {
        display: block;
        cursor: pointer;
        height: 40px;
        width: 70px;
        border: none;
        color: rgb(22, 21, 21);
        padding: 10px;
        border-radius: 5px;
    }
}