body{
    padding:0;
    margin:0;
    height: 100vh;
}
.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}
.big{
    background-color: lightgreen;
    color: white;
    padding: 10px;
    font-size: 40px;
    width: clamp(300px, 50%, 800px);
}
.small{
    background-color: rgb(242, 17, 17);
    color: white;
    padding: 20px;
    font-size: 20px;
    margin-top: 20px;
}
@media (max-width: 600px){
    .big{
        display: none;
    }
    .small{

        display: block;
    }
}
@media (min-width: 601px){
    .big{
        display: block;
    }
    .small{
        display: none;
    }
}