main {
    display: grid; 

}
.card-container{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(5, 1fr);
    gap: 16px;
    padding: 16px;
}
.card-span2{
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 16px;
    grid-column: span 2;
    justify-content: space-evenly;
}
.card{
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 16px;    
}
img{
    width: 100%;
    height:150px;
    border-radius: 4px;
}
button{
    width: 100%;
    color: rgb(4, 4, 4);
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    margin-top: auto;
}