html{
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}
body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 1200vh;
    background-image: url('./background.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow-x: hidden;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    align-items: center;
}
.sign-up{
    width: 100px;
    height: 36px;
    border: none;
    background-color: violet;
    color: rgb(243, 243, 243);
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}
.log-in{
    width: 100px;
    height: 36px;
    border: 2px solid violet;
    background-color: transparent;
    color: violet;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}
.nav-left{
    display: flex;
    height: 70px;
    padding: 5px;
    align-items: center;
    gap: 6px;
    flex-shrink: 0;
    color: white;
}
.nav-right{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    width: 20%;
    margin-right: 0;
}
.icon{
    width: 60px;
    height: 60px;
}
.avatar{
    width: 500px;
    height: 900px;
}
main{
    display: flex;
    flex-direction: row;
    padding: 0 20px;
    align-items: center;
    flex-shrink: 0;
    justify-content: space-between;
    color: white;
    gap: 10px;
    margin: 0;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 90px;

}
.main-left{
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-shrink: 0;
    font-size: xx-large;
    text-align: center;
}
.main-right{
    display: flex;
    flex-direction: row;
    align-items: center;
}
footer{
    height: 530px;
    background: #1D0C2A;

}
.main-left button{
    width: 150px;
    height: 45px;
    border: none;
    border-radius: 22px;
    background-color: violet;
    color: rgb(243, 243, 243);
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}